.patterns-form-key, .patterns-form-value {
  display: inline;
}
.patterns-form {
  margin: 20px;
}
.patterns-form-title {
  font-weight: bold;
  margin: 0 0 10px;
}
.alert {
  color: red;
}

.pattern-info {
  background-color: #fff1a8;
  border: 1px solid #ccc;
  padding: 8px;
}
